@charset "UTF-8";

@font-face {
  font-family: "Sans";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Sans-bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'S-Core';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'S-Core-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'S-Core-EBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'S-Core-E2Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
	accent-color: rgb(211,27,3);
  cursor: default;
}
html::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
html::-webkit-scrollbar-track {
  background: #a8a8a8;
}
html::-webkit-scrollbar-thumb {
  background: rgb(51, 51, 51);
  border-radius: 10px;
}

/* 기본 세팅 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}
.wrap {
  width: 1920px;
  margin: 0 auto;
}
.flexRow {
  display: flex;
  flex-direction: row;
  width: 100%;
}
/* 백그라운드 */
.bgRed {
  background-color: rgb(240, 16, 16);
}
/* transition, opacity */
.trans {
  transition: 0.5;
  opacity: 0;
}
.mo{
  display: none;
}
body{
  position: relative;
}

@media only screen and (min-width:100px) and (max-width:1920px) {
  .wrap{
    width: 100%;
  } 
}
@media screen and (max-width:600px) {
    .pc{
      display: none;
    }
    .mo{
      display: block;
    }
}