footer{
    
    background: rgb(16,16,16);

    
}
footer .infoBox{
    font-family: "S-core";
    color: white;
    font-size: 18px;
}
footer .infoBox span{
    padding-right: 15px;
}
footer .wrap12{
    width: 1200px;
    margin: 0 auto;
    gap: 40px;
    display: flex;
    padding:60px 0;
}
@media screen and (max-width:1200px) {
    footer .wrap12{
        width: 80%;
    }
}
@media screen and (max-width:600px) {
    footer .wrap12{
        display: flex;
        flex-direction: column;
        background: rgb(16,16,16);
        padding: 60px;
        gap: 40px;
        align-items: center;
    }
    footer .wrap12 .logo img{
        width: 80%;
    }
    footer span{
        display: block;
        text-align: center;
        padding-bottom: 5px;
        font-size: 14px;
    }
    
}