header{
    background-color: rgb(2,2,1);
    padding: 10px 30px;
    top:0;
    width: 100%;
    z-index: 999;
}

header ul li{
    font-size: 24px;
    font-family: "sans";
    font-weight: bold;
    color: white;
    cursor: pointer;
}

header .headerMenuBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
header .headerMenuBox .headerLogoBox{
    display: flex;
    justify-content: center;
}

header .headerMenuBox div img{
    border: 1px solid white;
    border-radius: 10px;
    width: 80px;
    height: 80px;
    padding: 5px;
}

header .headerMenuBox ul{
    display: flex;
    gap:60px;
}
header .headerMenuBox .navIcon{
    display: none;
}

header .headerMenuBox .moNavBox{
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    max-width: 0px;
    height: 100vh;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 1px 3px #00000055;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 99;
    transition: max-width .5s;

}
header .headerMenuBox .moNavBox.on{
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    max-width: 200px;
    height: 100vh;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 1px 3px #00000055;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 99;
    transition: max-width .5s;

}
header .headerMenuBox .moNavBox.on li{
    color: black;
}
header .headerMenuBox .moNavBox li{
    color: white
}


@media screen and (max-width:1200px) {
    header .pc{
        display: none !important;
    }
    header .navIcon{
        display: block !important;
        font-size: 34px;
        color: white;
        cursor: pointer;
    }
    header .headerMenuBox div img{
        border: 1px solid white;
        border-radius: 10px;
        width: 70%;
        height: 70%;
        padding: 5px;
    }
}

@media screen and (max-width:1000px) {
    header .headerMenuBox div img{
        border: 1px solid white;
        border-radius: 10px;
        width: 60%;
        padding: 5px;
    }
}

@media screen and (max-width:400px) {
    header .headerMenuBox div img{
        border: 1px solid white;
        border-radius: 10px;
        width: 40%;
        padding: 5px;
    }
}