/*sidebar*/
div #sideBar{
    position: fixed;
    z-index: 999;
    top: 75%;
    right: 2%;
}
#sideBar div{
    text-align: end;
}
#sideBar div:first-child img{
    width: 20%;
    cursor: pointer;
}
#sideBar div:first-child{
    padding-bottom: 20px;
}
#sideBar div:nth-child(2) a img{
    width: 80%;
}
@media screen and (max-width:600px) {
    #sideBar div:first-child{
        padding-bottom: 10px;
    }
    #sideBar div:first-child img{
        width: 10%;
    }
    #sideBar div:nth-child(2) a img{
        width: 50%;
    }
}
/*firstSection*/
#section1{
    position: relative;
    z-index: 2;
}
#section1 > img{
    width: 100%;
}
#section1 .section1Content img{
    position: absolute;
}

#section1 .section1Content .title{
    top: 5%;
    left: 25%;
    width: 50%;
}
#section1 .section1Content .food{
    top: 70%;
    left: 25%;
    width: 50%;
}

#section1-2{
    position: relative;
    z-index: 2;
    margin-top: 20%;
    margin-bottom: 120px;
}
#section1-2 .description{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding-top: 60px;
}
#section1-2 .description .desText{
    font-size: 48px;
    font-family: "Sans-Bold";
}
#section1-2 .description .desText h2{
    line-height: 1.2;
    text-align: center;
}
#section1-2 .description .desText:nth-child(1){
    letter-spacing: -1;
}
#section1-2 .description .desText .FR {
    color: rgb(211,27,3);
}
@media screen and (max-width:1600px) {
    #section1-2 .description .desText{
        font-size: 36px;
    }
    #section1-2 .description{
        gap: 60px;
        padding-top: 40px;
    }
    #section1-2 .description img{
        width: 3%;
    }
}
@media screen and (max-width:1200px) {
    #section1-2{
        position: relative;
        z-index: 2;
        margin-top: 20%;
        margin-bottom: 60px;
    }
    #section1-2 .description{
        gap: 40px;
        padding-top: 40px;
    }
    #section1-2 .description .desText{
        font-size: 32px;
    }
    #section1-2 .description img{
        width: 4%;
    }
}
@media screen and (max-width:900px) {
    #section1-2 .description .desText{
        font-size: 24px;
    }
}
@media screen and (max-width:700px) {
    #section1-2 .description .desText{
        font-size: 20px;
    }
}
@media screen and (max-width:600px) {
    #section1 .section1Content .title{
        top: 5%;
        left: 20%;
        width: 60%;
    }
    #section1 .section1Content .food{
        top: 80%;
        left: 25%;
        width: 50%;
    }
    #section1-2 .description{
        padding-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    #section1-2 .description .desText{
        font-size: 16px;
        text-align: center;
    }}
@media screen and (max-width:400px) {
    #section1 .section1Content .title{
        top: 5%;
        left: 20%;
        width: 60%;
    }
    #section1 .section1Content .food{
        top: 80%;
        left: 25%;
        width: 50%;
    }
    #section1-2 .description{
        padding-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    #section1-2 .description .desText{
        font-size: 12px;
        text-align: center;
    }
    #section1-2{
        margin-bottom: 40px;
    }
}

/**/
#section2{
    z-index: 2;
    background: url("../img/02-뒷배경.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    padding: 100px 0;
}
#section2 .section2Content{
    width: 1200px;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    flex-direction: column;
    position: relative;
}

#section2 .sec2Line{
    position: absolute;
    top: 50%;
    left:18%;
    width: 65%;
}

#section2 .system{
    display: flex;
    justify-content: center;
    align-items: center;
}
#section2 .system .systemInner span,p{
    font-size: 48px;
    font-family: "Sans-Bold";
}
#section2 .system .systemInner h2{
    display: flex;
    align-items: flex-end;
}

#section2 .process{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0 60px 60px 60px;
    position: relative;
    
}
#section2 .process .line{
    position: absolute;
    border: 2px dotted red;
    width: 59%;
    top: 41%;
    left: 21%;
    z-index: 0;
    /* animation-duration: 3s;
    animation-name: checkPoint; */
}
#section2 .process li div h4{
    font-family: "Sans-Bold";
}
#section2 .process li div p{
    font-family: "S-Core";
    font-weight: bold;
    padding-top: 15px;
}
@keyframes checkPoint {
    from {
      width: 0%;
      
    }
  
    to {
      width: 59%;
    }
  }
#section2 .process li{
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}
#section2 .process li h4{
    font-size: 40px;
    font-family: "sans";
    padding-bottom: 10px;
    position: relative;
    text-align: center;
}
#section2 .process li h4::after{
    content: "";
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    height: 3px;
    width: 10%;
    background: red;
}
#section2 .process li p{
    font-size: 18px;
    font-family: "S-Core";
    text-align: center;
    padding-top: 10px;
}

#section2 .sec2DesText{
    width: 100%;
    background-color: rgb(50,50,50);
    padding: 40px 0;
    text-align: center;
}
#section2 .sec2DesText h2{
    font-family: "sans";
    font-size: 34px;
    color: #fff;
}
#section2 .sec2DesText h2 span{
    font-size: 34px;
    color: rgb(255,240,0);
    font-style: italic;
    position: relative;
    padding-right: 3px;
}
#section2 .sec2DesText h2 span::after{
    content: "";
    position: absolute;
    background: rgb(255,240,0);
    width: 100%;
    height: 2px;
    transform: translate(-50%, -50%);
    top: 100%;
    left: 50%;
}
@media screen and (max-width : 900px) {
    #section2 .system img{
        width: 100%;
    }
    #section2 .system .systemInner img{
        width: 100%;
    }
    #section2 .system .systemInner span,p{
        font-size: 36px;
    }

    #section2 .process li h4{
        font-size: 28px;
        font-family: "sans";
        padding-bottom: 10px;
        position: relative;
        text-align: center;
    }
    #section2 .process li h4::after{
        content: "";
        position: absolute;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 100%;
        height: 3px;
        width: 10%;
        background: red;
    }
    #section2 .process li p{
        font-size: 14px;
        font-family: "S-Core";
        text-align: center;
        padding-top: 10px;
    }
    #section2 .process .line{
        position: absolute;
        border: 2px dotted red;
        width: 59%;
        top: 45%;
        left: 21%;
        z-index: 0;
        /* animation-duration: 3s;
        animation-name: checkPoint; */
    }
    #section2 .system .systemInner h2 img{
        width: 55%;
     }
     #section2 .sec2DesText h2{
        font-size: 24px;
    }
    #section2 .sec2DesText h2 span{
        font-size: 24px;
    }
}
@media screen and (max-width : 600px) {
    #section2{
        padding: 50px 0;
    }
    #section2 .section2Content{
        width: 90%;
        background-color: rgba(255, 255, 255, 0.4);
        display: flex;
        flex-direction: column;
        position: relative;
    }
    #section2 .system .systemInner{
        padding: 25px 25px 0 25px;
        z-index: 1;
    }

    #section2 .system .systemInner span,p{
        font-size: 34px;
    }
    #section2 .system .systemInner h2{
        justify-content: flex-end;
    }
    #section2 .system .systemInner h2 img{
       width: 40%;
    }
    #section2 .process{
        display: flex;
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 20px 30px;
    }
    #section2 .process li{
        display: flex;
        flex-direction: row;
        align-items: center;
        z-index: 1;
        gap: 10px;
        width: 100%;
    }
    #section2 .process li h4::after{
        height: 2px;
    }
    #section2 .process li .icon{
        flex: 1;
    }
    #section2 .process li .t-box{
        flex: 4;
    }
    #section2 .process li h4{
        font-size: 22px;
        padding-bottom: 5px;
        text-align: center;
    }

    #section2 .process li p{
        font-size: 12px;
        padding-top:10px;
        word-break: keep-all;
    }

    #section2 .process .icon img{
        width: 100%;
    }
    #section2 .sec2DesText{
        width: 100%;
        background-color: rgb(50,50,50);
        padding: 20px 0;
        text-align: center;
    }
    #section2 .sec2DesText h2{
        font-size: 20px;
    }
    #section2 .sec2DesText h2 span{
        font-size: 20px;
    }
    
}
@media screen and (max-width : 400px) {
    #section2 .system .systemInner span,p{
        font-size: 28px;
    }
    #section2 .process li p{
        font-size: 10px;
        padding-top:7px;
        word-break: keep-all;
    }
    #section2 .process li h4{
        font-size: 18px;
        padding-bottom: 5px;
        text-align: center;
    }
    #section2 .process li div p{
        padding-top: 10px;
    }
    #section2 .sec2DesText h2{
        font-size: 14px;
    }
    #section2 .sec2DesText h2 span{
        font-size: 14px;
    }
}

/*sec02*/
/* #section2{
    position: relative;
    z-index: 2;
}
#section2 > img{
    width: 100%;
}
#section2 .section2Content img{
    position: absolute;
}
#section2 .section2Content .sec2Box{
    width: 67%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#section2 .section2Content .sec2Title{
    top: 5%;
    left: 30%;
    width: 40%;
}
#section2 .section2Content .sec2pro1{
    top: 30%;
    left: 30%;
    width: 10%;
    z-index: 1;
}
#section2 .section2Content .sec2pro2{
    top: 30.5%;
    left: 45%;
    width: 10%;
    z-index: 1;
}
#section2 .section2Content .sec2pro3{
    top: 30.75%;
    left: 60%;
    width: 9%;
    z-index: 1;
}
#section2 .section2Content .sec2Line{
    top: 47.5%;
    left: 35%;
    width: 30%;
}
#section2 .section2Content .sec2Text{
    transform: translate(-50%, -50%);
    top: 85%;
    left: 50%;
    width: 35%;
}
@media screen and (max-width:500px) {
    #section2 > img{
        width: 150%;
    }
    #section2 .section2Content .sec2Box{
        width: 85%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    #section2 .section2Content .sec2Title{
        top: 10%;
        left: 20%;
        width: 60%;
    }
    #section2 .section2Content .sec2pro1{
        top: 33%;
        left: 15%;
        width: 13%;
        z-index: 1;
    }
    #section2 .section2Content .sec2pro2{
        top: 33%;
        left: 30%;
        width: 13%;
        z-index: 1;
    }
    #section2 .section2Content .sec2pro3{
        top: 33%;
        left: 60%;
        width: 13%;
        z-index: 1;
    }
    #section2 .section2Content .sec2Line{
        top: 47.5%;
        left: 35%;
        width: 30%;
    }
    #section2 .section2Content .sec2Text{
        transform: translate(-50%, -50%);
        top: 85%;
        left: 50%;
        width: 35%;
    }
} */

/*sec03*/
#section3{
    z-index: 2;
    background: url("../img/03-뒷배경.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}
#section3 .sec3Title{
    padding-bottom: 40px;
}
#section3 .spBubble{
    position: relative;
    display: flex;
    justify-content: center;
}
#section3 .spBubble .sp2,.sp3,.sp4,.sp5{
    position: absolute;
}
#section3 .spBubble .sp2{
    left: -55%;
    top: 5%;
}
#section3 .spBubble .sp3{
    left: 100%;
    top: 5%;
}
#section3 .spBubble .sp4{
    left: -45%;
    top: 38%;
}
#section3 .spBubble .sp5{
    left: 90%;
    top: 38%;
}

#section3 .description{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    text-align: center;
    margin-bottom: 30px;
}
#section3 .description .desText h2{
    font-size: 48px;
    font-family: "Sans-Bold";
}
#section3 .description .desText h4{
    font-family: "S-Core";
    font-weight: bold;
    font-size: 24px;
}
#section3 .description .desText span {
    font-family: "S-Core-EBold";
    font-weight: bold;
    color:rgb(211,27,3);
}
@media screen and (max-width:1600px) {
    #section3{
        padding: 60px 0;
    }
    #section3 .sec3Title {
        display: flex;
        justify-content: center;
    }
    #section3 .sec3Title img{
        width: 80% !important;
    }
    #section3 .spBubble .sp1{
        width: 100%;
    }
    #section3 .spBubble .sp2,.sp3,.sp4,.sp5{
        width: 40%;
    } 
    #section3 .spBubble .sp2{
        left: -20%;
        top: 5%;
    }
    #section3 .spBubble .sp3{
        left: 80%;
        top: 5%;
    }
    #section3 .spBubble .sp4{
        left: -15%;
        top: 38%;
    }
    #section3 .spBubble .sp5{
        left: 70%;
        top: 38%;
    }
    #section3 .description .desText h2{
        font-size: 36px;
    }
    #section3 .description .desText h4{
        font-size: 20px;
    }
    #section3 .description img{
        width: 5%;
    }
}
@media screen and (max-width:800px) {
    #section3 .sec3Title img{
        width: 100%;
    }
    #section3 .spBubble .sp1{
        width: 90%;
    }
    #section3 .spBubble .sp2,.sp3,.sp4,.sp5{
        width: 40%;
    } 
    #section3 .spBubble .sp2{
        left: 10%;
        top: -10%;
    }
    #section3 .spBubble .sp3{
        left: 50%;
        top: -10%;
    }
    #section3 .spBubble .sp4{
        left: 5%;
        top: 68%;
    }
    #section3 .spBubble .sp5{
        left: 55%;
        top: 68%;
    }
    #section3 .description .desText h2{
        font-size: 28px;
    }
    #section3 .description .desText h4{
        font-size: 16px;
    }
}
@media screen and (max-width:600px) {
    #section3{
        padding: 30px 0;
    }
    #section3 .description{
        gap: 5%;
        margin-bottom: 0px;
    }
    #section3 .description .desText h2{
        font-size: 16px;
    }
    #section3 .description .desText h4{
        font-size: 12px;
    }
}
@media screen and (max-width:400px) {
    #section3{
        padding: 30px 0;
    }
    #section3 .description{
        gap: 5%;
    }
    #section3 .description .desText h2{
        font-size: 12px;
    }
    #section3 .description .desText h4{
        font-size: 8px;
    }
}

/*section4*/
#section4{
    z-index: 2;
    background: url("../img/04-뒷배경.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0 30px 0;
}
#section4 .sec4Circle{
    display: flex;
    justify-content: center;
}
#section4 .sec4Plus{
    margin-top: 20px;
}
#section4 .description{
    font-family: "S-Core-E2Bold";
    font-size: 32px;
    background-color: rgb(255,240,0);
    padding: 5px 25px;
    border-radius: 30px;
    margin-top: 20px;
}
@media screen and (max-width:1200px) {
    #section4 .sec4Title{
        padding: 0 50px;
    }
    #section4 .sec4Title img{
        width: 100%;
    }
    #section4 .sec4Circle img{
        width: 30%;
    }
    #section4 .sec4Plus img{
        width: 100%;
    }
    #section4 .description{
        font-size: 26px;
    }
}
@media screen and (max-width:800px) {
    #section4 .description{
        font-size: 20px;
    }
}
@media screen and (max-width: 600px){
    #section4{
        z-index: 2;
        background: url("../img/04-뒷배경.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 0 30px 0;
    }
}
@media screen and (max-width:600px){
    #section4 .sec4Title{
        padding: 0 50px;
    }
    #section4 .sec4Title img{
        width: 100%;
    }
    #section4 .sec4Circle img{
        width: 25%;
        padding-right: 20px;
    }
    #section4 .sec4Plus{
        text-align: center;
    }
    #section4 .sec4Plus img{
        width: 90%;
    }
    #section4 .description{
        font-size: 12px;
    }
}
@media screen and (max-width:400px){

    #section4 .description{
        font-size: 8px;
        padding: 5px 10px;
    }
}

/*section5*/
#section5{
    position: relative;
    z-index: 2;
    line-height: 0;
}
#section5 > img{
    width: 100%;
}
#section5 .section5Content img{
    position: absolute;
}
#section5 .section5Content .sec5Title{
    width: 40%;
    top: 10%;
    left: 20%;
}
#section5 .section5Content .grayBG{
    width: 68%;
    transform: translate(-50%,-50%);
    top: 55%;
    left: 50%;
}
#section5 .section5Content .arrow{
    width: 15%;
    top: 5%;
    left: 65%;
}
#section5 .section5Content .sec5Reason{
    width: 16%;
    top: 38%;
    left: 23%;
    z-index: 1;
}
#section5 .section5Content .sec5R1,.sec5R2,.sec5R3,.sec5R4,.sec5R5{
    width: 37%;
    left: 39%;
}
#section5 .section5Content .sec5R1{
    top: 38%;
}
#section5 .section5Content .sec5R2{
    top: 48.125%
}
#section5 .section5Content .sec5R3{
    top: 58.25%
}
#section5 .section5Content .sec5R4{
    top: 68.375%
}
#section5 .section5Content .sec5R5{
    top: 78.5%;
}
@media screen and (max-width:600px){
    #section5 .section5Content .sec5Reason{
        width: 25%;
        top: 12%;
        left: 12%;
    }
    #section5 .section5Content .sec5R1,.sec5R2,.sec5R3,.sec5R4,.sec5R5{
        width: 45%;
        left: 37%;
    }
    #section5 .section5Content .sec5R1{
        top: 12%;
    }
    #section5 .section5Content .sec5R2{
        top: 28.5%
    }
    #section5 .section5Content .sec5R3{
        top: 45%
    }
    #section5 .section5Content .sec5R4{
        top: 61.5%
    }
    #section5 .section5Content .sec5R5{
        top: 78%;
    }
}

/*section6*/
#section6{
    background: url("../img/06-뒷배경.png");
    display: flex;
    flex-direction: column;
    align-items: center;
}
#section6 .sec6Title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 100px;
}
#section6 .sec6Title h2{
    display: flex;
    flex-direction: column;
}
#section6 .sec6Title span{
    font-size: 34px;
    font-family: "S-Core-EBold";
    padding-bottom: 10px;
}
#section6 .sec6Title h2 img:nth-child(3){
    width: 60%;
}
#section6 .redBox{
    display: flex;
}
#section6 .redBox li{
    position: relative;
}
#section6 .redBox li .coin{
    position: absolute;
    top: 0;
    z-index: 1;
    left: 32%;
}
#section6 .description{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    text-align: center;
    margin-bottom: 30px;
}
#section6 .description .desText h4{
    font-family: "S-Core";
    font-weight: bold;
    font-size: 24px;
}
#section6 .description .desText h2{
    font-size: 48px;
    font-family: "Sans-Bold";
}
#section6 .description .desText h2 span {
    font-size: 48px;
    font-family: "Sans-Bold";
    color: rgb(199,25,25)
}
#section6 .description img {
    width: 4%;
}
#section6 .description{
    padding-top: 30px;
}
@media screen and (max-width:1200px) {
    
    #section6 .sec6Title{
        gap: 10px;
    }
    #section6 .sec6Title h2 img{
        width: 90%;
    }
    #section6 .sec6Title h2 span{
        font-size: 28px;
    }

    #section6 .redBox li{
        width: 60%;
    }
    #section6 .redBox li img:first-child{
        width: 100%;
    }
    #section6 .redBox li .coin{
        position: absolute;
        top: 0;
        z-index: 1;
        width: 35%;
        left: 32%;
    }
}
@media screen and (max-width:1000px) {
    #section6 .sec6Title > div{
        display: none;
    }
    #section6 .sec6Title{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding-top: 50px;
        width: 100%;
    }
    #section6 .sec6Title h2{
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }
    #section6 .redBox{
        justify-content: center;
    }
    #section6 .redBox li{
        width: 45%;
    }
}
@media screen and (max-width:600px) {
    
    #section6 .sec6Title h2{
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }
    #section6 .sec6Title span{
        font-size: 18px !important;
    }
    #section6 .sec6Title img{
        width: 80%;
    }
    #section6 .sec6Title img:nth-child(2){
        width: 70%;
    }
    #section6 .redBox li img:first-child{
        width: 100%;
    }
    #section6 .redBox li .coin{
        position: absolute;
        top: 0;
        z-index: 1;
        width: 35%;
        left: 32%;
    }
    #section6 .description img {
        width: 5%;
    }
    #section6 .description{
        padding-top: 30px;
        gap: 5%;
    }
    #section6 .description .desText h2{
        font-size: 18px;
    }
    #section6 .description .desText h2 span {
        font-size: 18px;
    }
    #section6 .description .desText h4{
        font-size: 12px;
    }
}
@media screen and (max-width:400px) {
    #section6 .sec6Title span{
        font-size: 14px !important;
    }
}

/*section7*/
#section7{
    z-index: 2;
    background: rgb(250,245,238);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    overflow: hidden;
}
#section7 .sec7Title{
    text-align: center;
    padding-bottom: 30px;
}
#section7 .sec7Title h2{
    font-size: 80px;
    font-family: "Sans-Bold";
}
#section7 .sec7Title h2 span{
    font-size: 80px;
    font-family: "Sans-Bold";
    color: rgb(199,25,25);
}
#section7 .sec7Title p{
    font-size: 24px;
    font-family: "S-Core-Bold";
}
#section7 .sec7Title p span{
    font-size: 24px;
    font-family: "S-Core-Bold";
    font-style: italic;
    color: rgb(199,25,25);
    position: relative;
}
#section7 .sec7Title p span::after{
    content: "";
    width: 100%;
    height: 1px;
    background: rgb(199,25,25);
    transform: translate(-50%,-50%);
    top:100%;
    left: 50%;
    position: absolute;

}
#section7 .swiper {
    width: 800px;
    padding-bottom: 40px;
  }
#section7 .swiper .swiper-slide img{
    width: 100%;
}
#section7 .swiper .swiper-slide:not(.swiper-slide-next) img{
    transform: scale(0.8);
    transition: 0.5s;
}
#section7 .swiper .swiper-slide.swiper-slide-next img{
    transform: scale(1);
    transition: 0.5s;
}
#section7 .swiper .swiper-slide:not(.swiper-slide-next){
    opacity: 0.5;
}
#section7 .sec7Calc span{
    font-size: 18px;
    color: rgb(162,162,162);
    font-family: "S-Core-Bold";
}
@media screen and (max-width:600px) {
    #section7{
        padding: 50px 0;
    }
    #section7 .sec7Title{
        text-align: center;
        padding-bottom: 30px;
    }
    #section7 .sec7Title h2{
        font-size: 40px;
    }
    #section7 .sec7Title h2 span{
        font-size: 40px;
        color: rgb(199,25,25);
    }
    #section7 .sec7Title p{
        font-size: 16px;
    }
    #section7 .sec7Title p span{
        font-size: 16px;
    }
    #section7 .sec7Calc span{
        font-size: 12px;
    }
    #section7 .swiper {
        width: 800px;
      }
    #section7 .swiper .swiper-slide img{
        width: 90%;
    }
}
@media screen and (max-width:400px) {
    #section7{
        padding: 30px 0;
    }
    #section7 .sec7Title{
        text-align: center;
        padding-bottom: 30px;
    }
    #section7 .sec7Title h2{
        font-size: 30px;
    }
    #section7 .sec7Title h2 span{
        font-size: 30px;
        color: rgb(199,25,25);
    }
    #section7 .sec7Title p{
        font-size: 14px;
    }
    #section7 .sec7Title p span{
        font-size: 14px;
    }
    #section7 .sec7Calc span{
        font-size: 8px;
    }
    #section7 .swiper {
        width: 800px;
      }
    #section7 .swiper .swiper-slide img{
        width: 70%;
    }
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next{
        left: 32% !important;
        top: 45% !important;
    }
    .swiper-button-next, .swiper-container-rtl .swiper-button-prev{
        right: 32% !important;
        top: 45% !important;
    }
    #section7 .swiper{
        padding-bottom: 20px;
    }
}

/*section8*/
#section8{
    position: relative;
    z-index: 2;
    line-height: 0;
}
#section8 > img{
    width: 100%;
}
#section8 .sec8Content img{
    position: absolute
}
#section8 .sec8Content .sec8BBG{
    width: 80%;
    top: 5%;
    left: 10%;
}
#section8 .sec8Content .sec8Title{
    width: 40%;
    top: 8%;
    left: 30%;
}
#section8 .sec8Content .sec8Text{
    transform: translate(-50%,-50%);
    width: 50%;
    top: 42%;
    left: 50%;
}
#section8 .sec8Content .sec8Graph{
    width: 20%;
    top: 57%;
    left: 20%;
}
#section8 .sec8Content .sec8Avg{
    width: 21%;
    top: 80%;
    left: 20%;
}
#section8 .sec8Content .sec8TBox{
    width: 38%;
    top: 56%;
    left: 45%;
}
@media screen and (max-width:600px) {
    #section8 .sec8Content .sec8Title{
        width: 55%;
        top: 8%;
        left: 23%;
    }
    #section8 .sec8Content .sec8Graph{
        width: 30%;
        top: 50%;
        left: 10%;
    }
    #section8 .sec8Content .sec8Avg{
        width: 25%;
        top: 85%;
        left: 13%;
    }
    #section8 .sec8Content .sec8TBox{
        width: 45%;
        top: 52%;
        left: 44%;
    }
}

/*section9*/
/* #section9{
    position: relative;
    z-index: 2;
    line-height: 0;
}
#section9 > img{
    width: 100%;
}
#section9 .sec9Content img{
    position: absolute
}
#section9 .sec9Content .sec9Title{
    width: 50%;
    top: 6%;
    left: 25%;
}
#section9 .sec9Content .sec9Char1{
    width: 19%;
    top: 27%;
    left: 18%;
}
#section9 .sec9Content .sec9Char2{
    width: 19%;
    top: 27%;
    left: 40%;
}
#section9 .sec9Content .sec9Char3{
    width: 19%;
    top: 27%;
    left: 62%;
}
#section9 .sec9Content .sec9Text{
    width: 55%;
    top:65%;
    left: 21%;
} */
/*section9*/
#section9{
    background: url("../img/09-뒷배경.png");
    background-size: cover;
    background-position: center;
}
#section9 .sec9Title{
    padding-top: 70px;
    text-align: center;
    padding-bottom: 25px;
}
#section9 .sec9BoxList{
    text-align: center;
}
#section9 .sec9BoxList img{
    padding: 0 15px;
}
#section9 .sec9Text{
    padding: 30px 0;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
#section9 .sec9Text img{
    

}
@media screen and (max-width:1270px) {
    #section9 .sec9Title{
        padding-top: 30px;
        padding-bottom: 18px;
    }
    #section9 .sec9Title img{
        width: 85%;
    }
    #section9 .sec9BoxList img{
        width: 30%;
    }
    #section9 .sec9Text{
        padding: 10px 0;
        text-align: center;
    }
    #section9 .sec9Text img{
        width: 90%;
    }
}
@media screen and (max-width:600px) {
    #section9 .sec9Title{
        padding-top: 30px;
        padding-bottom: 18px;
    }
    #section9 .sec9Title img{
        width: 85%;
    }
    #section9 .sec9BoxList img{
        width: 30%;
        padding: 0 0px;
    }
    #section9 .sec9Text{
        padding: 10px 0;
        text-align: center;
    }
    #section9 .sec9Text img{
        width: 90%;
    }
}
/*section10*/
#section10{
    position: relative;
    z-index: 2;
    line-height: 0;
}
#section10 > img{
    width: 100%;
}
#section10 .sec10Content img{
    position: absolute
}
#section10 .sec10Content .sec10Title1{
    left: 42%;
    top: 6.5%;
    width: 17%;
}
#section10 .sec10Content .sec10Title2{
    left: 34.4%;
    top: 9.6%;
    width: 32%;
}
#section10 .sec10Content .sec10Title3{
    width: 33.5%;
    top:17.4%;
    left:33%
}
#section10 .sec10Content .sec10Box{
    width: 58%;
    top: 33%;
    left: 21%;
}
#section10 .sec10Content .sec10Menu1{
    top:21.8%;
    width: 9.6%;
    left: 18.7%;
}
#section10 .sec10Content .sec10Menu2{
    top:21.8%;
    width: 9.6%;
    left: 29.4%;
}
#section10 .sec10Content .sec10Menu3{
    top:21.8%;
    width: 9.6%;
    left: 40%;
}
#section10 .sec10Content .sec10Menu4{
    top:21.8%;
    width: 9.6%;
    left: 50.5%;
}
#section10 .sec10Content .sec10Menu5{
    top:21.8%;
    width: 9.6%;
    left: 61%;
}
#section10 .sec10Content .sec10Menu6{
    top:21.8%;
    width: 9.6%;
    left: 71.5%;
}
#section10 .sec10Content .sec10BText{
    top:36.4%;
    left: 31.1%;
    width: 37.8%;
    z-index: 1;
}
#section10 .sec10Content .sec10BSt{
    top:41%;
    left: 36.5%;
    width: 30%;
    z-index: 1;
}
#section10 .sec10Content .sec10BSt{
    top:41%;
    left: 36.5%;
    width: 30%;
    z-index: 1;
}
#section10 .sec10Content .sec10BTitle{
    top:45.8%;
    left: 32%;
    width: 37%;
    z-index: 1;
}
@media screen and (max-width:600px) {

    #section10 .sec10Content .sec10Title2{
        left: 25%;
        top: 3%;
        width: 50%;
    }
    #section10 .sec10Content .sec10Title3{
        width: 38%;
        top:15%;
        left:30%
    }
    #section10 .sec10Content .sec10Box{
        width: 58%;
        top: 33%;
        left: 21%;
    }
    #section10 .sec10Content .sec10Menu1{
        top:18.8%;
        width: 12.5%;
        left: 10.5%;
    }
    #section10 .sec10Content .sec10Menu2{
        top:18.8%;
        width: 12.5%;
        left: 23.6%;
    }
    #section10 .sec10Content .sec10Menu3{
        top:18.8%;
        width: 12.5%;
        left: 36.5%;
    }
    #section10 .sec10Content .sec10Menu4{
        top:18.8%;
        width: 12.5%;
        left: 49.55%;
    }
    #section10 .sec10Content .sec10Menu5{
        top:18.8%;
        width: 12.5%;
        left: 62.54%;
    }
    #section10 .sec10Content .sec10Menu6{
        top:18.8%;
        width: 12.5%;
        left: 75.5%;
    }
    #section10 .sec10Content .sec10BText{
        top:34.4%;
        left: 31.1%;
        width: 40%;
        z-index: 1;
    }
    #section10 .sec10Content .sec10BSt{
        top:40%;
        left: 32%;
        width: 40%;
        z-index: 1;
    }
    #section10 .sec10Content .sec10BTitle{
        top:44%;
        left: 26%;
        width: 48%;
        z-index: 1;
    }
}
/*section11*/
/* #section11{
    position: relative;
    z-index: 2;
    line-height: 0;
}
#section11 > img{
    width: 100%;
}
#section11 .sec11Content img{
    position: absolute
}
#section11 .sec11Content .sec11Cert{
    width: 37%;
    top: 11%;
    left: 31.5%;
}
#section11 .sec11Content .sec11Text{
    width: 41%;
    top: 62%;
    left: 29.5%;
} */
/*section11*/
#section11{
    background: url("../img/13-뒷배경.jpg");
}
#section11 .sec11Title{
    padding-top: 90px;
    text-align: center;
}
#section11 .sec11Text .title > div{
    padding: 0 20px;
}
#section11 .sec11Text{
    padding-top: 30px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#section11 .sec11Text .title{
    display: flex;
}
#section11 .sec11Text .title h2{
    font-size: 60px;
    font-family: "Sans-Bold";
    position: relative;
    padding-bottom: 10px;
}
#section11 .sec11Text .title h2::after{
    content: "";
    width: 10%;
    height: 1px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgb(200,200,200);
}
#section11 .sec11Text .title+p{
    padding-top: 20px;
}
#section11 .sec11Text p{
    font-size: 26px;
    font-family: "S-Core";
    font-weight: bold;
    color: rgb(97,97,97);
}
#section11 .sec11Text p span{
    font-size: 26px;
    font-family: "S-Core-E2Bold";
    font-style: italic;
    color: rgb(97,97,97);
    padding-right: 2px;
}
@media screen and (max-width:950px) {
    #section11 .sec11Title img{
        width: 90%;
    }

    #section11 .sec11Text .title h2{
        font-size: 46px;
    }
    #section11 .sec11Text p{
        font-size: 20px;
    }
    #section11 .sec11Text p span{
        font-size: 20px;
    }
}
@media screen and (max-width:600px) {
    #section11 .sec11Title{
        padding-top: 40px;
        text-align: center;
    }
    #section11 .sec11Title img{
        width: 90%;
    }
    #section11 .sec11Text{
        padding-top: 15px;
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    #section11 .sec11Text .title h2{
        font-size: 24px;
        padding-right: 15px;
    }
    #section11 .sec11Text .title img{
        width: 50%;
    }
    #section11 .sec11Text p{
        font-size: 14px;
    }
    #section11 .sec11Text p span{
        font-size: 14px;
    }
    #section11 .sec11Text .title+p {
        padding-top: 15px;
    }
    #section11 .sec11Text .title > div{
        padding: 0px 0px;
    }
}
@media screen and (max-width: 400px) {
    #section11 .sec11Text .title h2{
        font-size: 16px;
        padding-right: 15px;
    }
    #section11 .sec11Text p{
        font-size: 12px;
    }
    #section11 .sec11Text p span{
        font-size: 12px;
    }
}
/*section12 pc*/
#section12pc{
    position: relative;
    z-index: 2;
    line-height: 0;
}
#section12pc > img{
    width: 100%;
}
#section12pc .sec12Content img{
    position: absolute
}
#section12pc .sec12Content>div{
    position: absolute
}
#section12pc .sec12Content .sec12Title{
    top:9.5%;
    width: 44.3%;
    left: 27.8%;
}
#section12pc .sec12Content .sec12Text{
    top:48.5%;
    width: 32%;
    left: 20%;
}
/*section12 mo*/
#section12mo{
    background: url("../img/12-뒷배경mo.png");
    background-size: cover;
    padding: 40px 0;
}
#section12mo .sec12Title{
    text-align: center;
    padding-bottom: 70px;
}
#section12mo .sec12Title h2{
    font-size: 36px;
    font-family: "Sans-Bold";
}
#section12mo .sec12TBox h2::after{
    content: "";
    position: absolute;
    height: 0.5px;
    width: 10%;
    background-color: white;
    transform: translate(-50%,-50%);
    top: 90%;
    left: 50%;
}
#section12mo .sec12Title p:nth-child(2){
    font-size: 22px;
    color: rgb(246,25,5);
    font-style: italic;
    font-weight: 400;
}
#section12mo .sec12Title p:nth-child(3){
    font-size: 20px;
    line-height: 1.4;
    font-family: 'sans';
}
#section12mo .sec12Title p:nth-child(3) span{
    font-style: italic;
    position: relative;
    z-index: 1;
    font-weight: bold;
}
#section12mo .sec12Title p:nth-child(3) span::before{
    content: "";
    position: absolute;
    top: -10%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255,240,0);
    background-size: cover;
    transform: skewX(-15deg);
    z-index: -1;
}
#section12mo .sec12Title p:nth-child(3) span::after{
    content: "";
    position: absolute;
    top: -10%;
    left: 0;
    width: 1px;
    height: 40px;
    transform: translate(-50%, -50%);
    left: 40%;
    top: 250%;
    background: rgb(162,162,162);
    z-index: 1;
}
#section12mo .sec12TBox{
    background: rgba(0, 0, 0, 0.8);
    width: 85%;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: 0 auto;
}
#section12mo .sec12TBox h2{
    padding: 20px 0;
    display: flex;
    justify-content: center;
    position: relative;
    font-family: "sans-bold";
}
#section12mo .sec12TBox h2 div{
    text-align: center;
}
#section12mo .sec12TBox h2 span{
    font-size: 32px;
    color: white;
    font-weight: bolder;
}
#section12mo .sec12TBox h2 img{
    width: 50%;
}
#section12mo .sec12TBox h6{
    padding-top: 10px 0;
    text-align: center;
    font-size: 16px;
    color: rgb(255,240,0);
    font-family: "sans";
    padding-top: 10px;
}
#section12mo .sec12TBox p{
    font-size: 16px;
    color: rgb(228,228,228);
    padding: 20px;
    font-weight: 100;
    font-family: "sans";
    text-align: center;
}
@media screen and (max-width:400px) {
    #section12mo .sec12Title h2{
        font-size: 26px;
    }
    #section12mo .sec12Title p:nth-child(2){
        font-size: 18px;
    }
    #section12mo .sec12Title p:nth-child(3){
        font-size: 14px;
    }
    #section12mo .sec12Title p:nth-child(3) span::after{
        height: 20px !important;
    }
    #section12mo .sec12Title{
        padding-bottom: 60px;
    }
    #section12mo .sec12TBox h2 span{
        font-size: 24px;
    }
    #section12mo .sec12TBox h6{
        font-size: 12px;
    }
    #section12mo .sec12TBox p{
        font-size: 10px;
    }
}
/*section13*/
#section13{
    position: relative;
    z-index: 2;
    line-height: 0;
}
#section13 > img{
    width: 100%;
}
#section13 .sec13Content img{
    position: absolute
}
#section13 .sec13Content>div{
    position: absolute
}
#section13 .sec13Content .sec13Title{
    top:6%;
    width: 54%;
    left: 23%;
}
#section13 .sec13Content .sec13Text{
    top:62.5%;
    width: 32.5%;
    left: 34%;
}
#section13 .sec13Content .sec13Vs{
    top:15%;
    width: 48.7%;
    left: 25.7%;
}
#section13 .sec13Content .sec13SubText{
    transform: translate(-50%,-50%);
    top: 82%;
    left: 50%;
    width: 51%;
}
@media screen and (max-width:600px) {
    #section13 .sec13Content .sec13Title{
        top:6%;
        width: 70%;
        left: 16%;
    }
    #section13 .sec13Content .sec13Text{
        top:68.5%;
        width: 42.5%;
        left: 29.5%;
    }
    #section13 .sec13Content .sec13Vs{
        top:15%;
        width: 60%;
        left: 20%;
    }
    #section13 .sec13Content .sec13SubText{
        transform: translate(-50%,-50%);
        top: 91%;
        left: 50%;
        width: 51%;
    }
}


/*section14*/
#section14{
    background: url("../img/17-뒷배경.jpg");
    padding: 100px 0;
}
#section14 .sec14Title{
    text-align: center;
    padding-bottom:50px;
}
#section14 .sec14Title h1{
    font-family: "sans-bold";
    font-size: 88px;
}
#section14 .sec14Title h4{
    font-size: 28px;
    font-family: "S-Core-bold";
}
#section14 .sec14Title h4:nth-child(2){}
#section14 .sec14Title h4:nth-child(3){}
#section14 .sec14Title h4:nth-child(3) span{
    color: rgb(199,25,25);
}
#section14 .sec14Swiper{
    display: flex;
    justify-content: center;
    position: relative;
}
#section14 .sec14Swiper .swiper2 {
    width: 1200px;
    height: 455px;
    overflow: hidden;
}
#section14 .swiper2 .swiper-wrapper{
    
}#section14 .swiper2 .swiper-slide{
    display: flex;
    align-items: center;
}
#section14 .swiper2 .swiper-slide img{
    width: 100%;
}
#section14 .swiper2 .swiper-slide:not(.swiper-slide-active){
    transform: scale(0.8);
    transition: 0.5s;
    opacity: 0.5;
    z-index: 0;
}
#section14 .swiper2 .swiper-slide.swiper-slide-active{
    transform: scale(1.2);
    transition: 0.5s;
    z-index: 1;
}
#section14 .sec14Swiper .swiper2-button-prev{
    width: 50px !important;
    height: 50px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 15%;
    top: 50%;
    z-index: 111;
}
#section14 .sec14Swiper .swiper2-button-next{
    width: 50px !important;
    height: 50px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 85%;
    top: 50%;
    z-index: 111;
}

@media screen and (max-width:1200px) {
    #section14 .sec14Swiper .swiper2-button-prev{
        width: 50px !important;
        height: 50px;
        position: absolute;
        transform: translate(-50%,-50%);
        left: 15%;
        top: 90%;
        z-index: 111;
    }
    #section14 .sec14Swiper .swiper2-button-next{
        width: 50px !important;
        height: 50px;
        position: absolute;
        transform: translate(-50%,-50%);
        left: 85%;
        top: 90%;
    }
}
@media screen and (max-width:850px) {
    #section14{
        background: url("../img/17-뒷배경.jpg");
        padding: 50px 0;
    }
    #section14 .sec14Title h1{
        font-size: 58px;
    }
    #section14 .sec14Title h4{
        font-size: 22px;
    }
    #section14 .sec14Swiper .swiper2 {
        width: 1200px;
        height: 320px;
        overflow: hidden;
    }
}
@media screen and (max-width:400px) {
    #section14 .sec14Title{
        text-align: center;
        padding-bottom:20px;
    }
    #section14 .sec14Title h1{
        font-size:28px !important;
    }
    #section14 .sec14Title h4{
        font-size: 10px !important;
    }
    #section14 .sec14Swiper .swiper2 {
        width: 1200px;
        height: 240px !important;
        overflow: hidden;
    }
    #section14 .sec14Swiper .swiper2-button-prev{
        display: none !important;
    }
    #section14 .sec14Swiper .swiper2-button-next{
        display: none !important;
    }
}


@media screen and (max-width:600px) {
    #section14{
        background: url("../img/17-뒷배경.jpg");
        padding: 50px 0;
    }
    #section14 .sec14Title h1{
        font-size: 42px;
    }
    #section14 .sec14Title h4{
        font-size: 16px;
    }
    #section14 .sec14Swiper .swiper2 {
        width: 1200px;
        height: 320px;
        overflow: hidden;
    }
}

/*section15*/
#section15{
    background: url("../img/18-full뒷배경.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#section15 .layout{
    display: flex;
    width: 100%;
}
#section15 .layout > div{
    flex: 1;
}
#section15 .layout .firstBox{
    display: flex;
    justify-content: center;
    align-items: center;
}
#section15 .layout form{
    padding: 50px 0;
    flex: 1;
    width: 80%;
}
#section15 form span{
    font-size: 24px;
    font-weight: bolder;
    font-family: "S-Core-Bold";
}
#section15 form ul li .import::before{
    content: "*";
    position: absolute;
    left: -10px;
    font-weight: bold;
    transform: translate(-50%,-50%);
    top: 50%;
    color: red;
}
#section15 form ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#section15 form ul li{
    display: flex;
    position: relative;
    align-items: center;
    width: 80%;
}
#section15 form ul li span{
    flex: 2;
}
#section15 form ul li:last-child{
    padding: 20px 0;
}
#section15 form ul li:last-child span{
    padding-left: 10px;
}
#section15 form ul li > div{
    flex: 3;
    display: flex;
}
#section15 form ul li > .email{
    flex: 3;
    display: flex;
    width: 100%;
}
#section15 form ul li > .email input{
    flex: 1;
}
#section15 form ul li > .email span{
    text-align: center;
    flex: 0.3;
}
#section15 form ul li > .email select{
    flex: 1;
}
#section15 form ul li input[type=text]{
    height: 45px;
    border: 1px solid rgb(162,162,162);
    width: 100%;
}

#section15 .sec15AgreeBox{
    background: rgb(248,248,248);
    width: 80%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#section15 .sec15AgreeBox span.cert{ 
    font-size: 20px;
    font-family: "S-Core-EBold";
}
#section15 .sec15AgreeBox > div > div{
    text-align: center;
    padding-bottom: 5px;
}
#section15 .sec15AgreeBox > div > div:nth-child(2) > span{
    color:rgb(162,162,162);
    font-family: "s-core";
    font-size: 20px;
}
#section15 .sec15AgreeBox > div:first-child{
    padding-bottom: 15px;
}
#section15 .btn{
    width: 80%;
    text-align: center;
}
#section15 input[type=button]{
    margin-top: 35px;
    padding: 10px 80px;
    background: black;
    color: white;
    font-size: 18px;
    font-family: "S-Core-Bold";
}
#section15 form{

}

@media screen and (max-width:1000px) {
    #section15 .layout .firstBox img{
        width: 70%;
    }
    #section15 form span{
        font-size: 18px;
    }
    #section15 .sec15AgreeBox span.cert{ 
        font-size: 16px;
        font-family: "S-Core-EBold";
    }
    #section15 .sec15AgreeBox > div > div:nth-child(2) > span{
        color:rgb(162,162,162);
        font-family: "s-core";
        font-size: 16px;
    }
    #section15 form ul{
        gap: 5px;
    }
    #section15 input[type=button]{
        font-size: 16px;
        padding: 10px 50px;
    }
    #section15 form ul li{
        width: 90%;
    }
    #section15 .sec15AgreeBox{
        width: 90%;
    }
    #section15 .btn{
        width: 90%;
    }
}
@media screen and (max-width:800px) {
    #section15 .layout .firstBox img{
        width: 70%;
    }
    #section15 form span{
        font-size: 16px;
    }
    #section15 .sec15AgreeBox span.cert{ 
        font-size: 14px;
        font-family: "S-Core-EBold";
    }
    #section15 .sec15AgreeBox > div > div:nth-child(2) > span{
        color:rgb(162,162,162);
        font-family: "s-core";
        font-size: 14px;
    }
}

@media screen and (max-width:600px) {
    #section15 form ul{
        gap: 15px;
        padding: 0 20px;
    }
    #section15{
        background: #fff;
    }

    #section15 .layout{
        display: flex;
        flex-direction: column;
    }
    #section15 .layout .firstBox{
        background: linear-gradient(45deg,rgb(16,16,16),rgb(209, 52, 52));
        padding: 60px 0;
    }
    #section15 .layout .firstBox img{
        width: 50%;
    }
    #section15 .sec15AgreeBox{
        background: rgb(248,248,248);
        width: 100%;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #section15 .layout form{
        padding-top: 50px;
        flex: 1;
        width: 100%;
    }
    #section15 form ul{
        align-items: center;
    }
    #section15 .btn{
        width: 100%;
        text-align: center;
    }
}