.infoOverray{
    display: none;
}
.infoOverray.on{
    position: fixed;
    background: rgba(0,0,0,0.5);
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    display: block;
}
.infoOverray > div{
    position: absolute;
    width: 50vw;
    height: 70vh;
    background: white;
    border-radius: 20px;
    padding: 30px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.infoOverray > div h2{
    font-size: 28px;
    padding-bottom: 20px;
    font-family: "sans-bold";
}
.infoOverray > div p{
    font-size: 16px;
    font-family: "sans";
    padding: 5px 0;
}
.infoOverray > div p.bold{
    font-size: 18px;
    font-family: "sans-bold";
}


@media screen and (max-width:600px) {
    .infoOverray > div{
        width: 80vw;
        overflow: scroll;
    }
    .infoOverray > div h2{
        font-size: 20px;
        padding-bottom: 10px;
    }
    .infoOverray > div p{
        font-size: 12px;
        font-family: "sans";
        padding: 2px 0;
    }
    .infoOverray > div p.bold{
        font-size: 16px;
        font-family: "sans-bold";
    }
}